/* For now, avoid using Tailwind CSS because it's simpler to just use simple plain CSS */
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
 text-decoration: underline;
  }
